
<div class="d-flex justify-content-center my-4">
  <input
    type="text"
    class="form-control w-50"
    placeholder="Busca un personaje..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchCharacter()"
  />
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @for (item of character; track $index) {
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="item.image" class="card-img-top" alt="{{ item.name }}" style="height: 250px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text text-muted">{{ item.species }}</p>
          </div>

        </div>
      </div>

    }

  </div>
</div>

@if (character.length === 0) {
  <p class="text-center text-muted mt-3">No se encontró "{{ searchTerm }}"</p>
}
